@import "@/assets/scss/variables.scss";

.mood-selector {
  &-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-left: 25px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      border-radius: 50%;
      background-color: black;
    }
  }
}

@each $color in map-keys($colors) {
  .#{$color}::before {
    background-color: map-get($colors, $color);
  }
}